<table>
    <tr>
        <td>
          
            <a href="/xoxes/move/<%=@xox.id %>/?cell=1">1</a>
        </td><td><a href="/xoxes/move/<%=@xox.id %>/?cell=2">1</a></td><td><a href="/xoxes/move/<%=@xox.id %>/?cell=3">1</a></td>
    </tr>
    <tr>
        <td><a href="/xoxes/move/<%=@xox.id %>/?cell=4">1</a></td><td><a href="/xoxes/move/<%=@xox.id %>/?cell=5">1</a></td><td><a href="/xoxes/move/<%=@xox.id %>/?cell=6">1</a></td>
    </tr>
    <tr>
        <td><a href="/xoxes/move/<%=@xox.id %>/?cell=7">1</a></td><td><a href="/xoxes/move/<%=@xox.id %>/?cell=8">1</a></td><td><a href="/xoxes/move/<%=@xox.id %>/?cell=9">1</a></td>
    </tr>
</table>